---
title: "Plumber"
layout: splash
date: 2016-03-23T11:48:41-04:00
header:
  overlay_color: "#373737"
  overlay_filter: "0.7"
  overlay_image: "/assets/images/old-pipes.jpg"
  cta_label: ""
  cta_url: "https://github.com/plumber-sc/plumber-component-decorator/releases/latest"
  caption: "Icons made by [FreePik](https://www.freepik.com/) from [www.flaticon.com](https://www.flaticon.com/) is licensed by [CC 3.0 BY](http://creativecommons.org/licenses/by/3.0/)"
excerpt: 'Tools for Sitecore Commerce'

feature_row:
  - title: "<span class='plumber'>Plumber</span><br/>Configuration Viewer"
    image_path: /assets/images/microscope.svg
    excerpt: "Interactive configuration viewer for Sitecore Commerce.<br/>Check your pipelines, blocks and policies."
    btn_label: "Read More"
    btn_class: "btn--primary"
    url: "https://viewer.plumber-sc.com"
  - title: "<span class='plumber'>Plumber</span><br/>Catalog"
    image_path: /assets/images/computer.svg
    excerpt: "Easily extend a catalog by adding attributes to your components.<br/><br/>"
    url: "https://catalog.plumber-sc.com"
    btn_label: "Read More"
    btn_class: "btn--primary"
  - title: "<span class='plumber'>Plumber</span><br/>Component Decorator"
    image_path: /assets/images/paint-roller.svg
    excerpt: "Make your components viewable and editable in the Business Tools by decorating your components with attributes."
    url: "https://decorator.plumber-sc.com"
    btn_label: "Read More"
    btn_class: "btn--primary"

---

{% include intro id="intro_viewer" %}

{% include feature_row %}

