---
# Only the main Sass file needs front matter (the dashes are enough)
---

$plumberRed: #dc3f30;

@charset "utf-8";

$sans-serif : 'Open Sans', sans-serif;

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials
@import url('https://fonts.googleapis.com/css?family=Lobster|Open+Sans:400,700');

.archive__item-teaser img {
    display: block;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
}

.feature__item {
    text-align: center;
}

.page__hero--overlay .page__title {
    font-family: 'Lobster', cursive;
    font-size: 3.5em;
    color: #eceff1;
    text-shadow: 2px 2px #546e7a;
}

.page__title {
    color: $plumberRed;
}

.btn--primary {
    background-color: $plumberRed;
}

.intro h1 {
    font-family: 'Lobster';
    color: $plumberRed;
    font-size: 2.5em;
    text-shadow: 2px 2px #546e7a;
    text-align: center;
}

span.plumber {
    font-family: 'Lobster';
    font-size: 1.5em;
    text-shadow: 1px 1px #546e7a;
    color: $plumberRed;
}